//
   Created by matthewyun on 3/15/16.

extends layout
block content
    #header
        #headerBox
            a(href = '/' id = 'linkHome')
                img(src = '/images/CSLewisLogo.png')
    #wrapper
        #leftAd
            h3 Sponsored Links
        #about

            img(src = '/images/lewisPicture1.jpg')
            p.
                Clive Staples Lewis was an intellecutal giant of the 20th
                century and perhaps its greatest Christian apologist. Oxford don
                and Cambridge professor, 'Jack' was a prominent literary critic in his
                time but it is for his indelible mark on Christian thought
                that his popularity and influence remain undiminished these many
                years later.

            p.
                Most popular for his Narnia series, C.S. Lewis boasts an impressive collection
                of works ranging from theologically laden science fiction to acute investigations
                on the nature of love. His work is a reproof against what he termed 'chronological
                snobbery' – the belief that we are above learning from the past. Indeed, many of his
                social critiques and observations are just as relevant and instructive today.

            p.
                It is not only for his works we are indebted but for those he helped to shape
                and point us towards. He gave and receieved encouragement from members of his
                literary group, the 'Inklings', which included J.R.R. Tolkien, Owen Barfield,
                and Charles Williams. He also points us towards his 'master' George MacDonald
                and the 'most reasonable man' he ever read, G.K. Chesterton. It is thus not only to
                Lewis but to those other great men in his literary universe to whom this site is
                dedicated and of whose quotes we will daily produce.












        #rightAd
            h3 Sponsored Links
        #lowerAd
        #preFooter
