//
   Created by matthewyun on 3/14/16.
extends layoutAddQuote
block content
    #addQuote
        fieldset
            input#Book(type='text', placeholder='Book')
            br
            input#Chapter(type='text', placeholder='Chapter')
            br
            input#Passage(type='text', placeholder='Passage')
            br
            input#Number(type='text', placeholder='Number')
            br
            input#Author(type='text', placeholder='Author')
            br
            input#Title(type='text', placeholder='Title')
            br
            input#Keywords(type='text', placeholder='Keywords')
            br
            button#btnAddQuote Add Question


        h2 Add Quote
