//
   Created by matthewyun on 3/15/16.

extends layout
block content
    #header
        #headerBox
            a(href = '/' id = 'linkHome')
                img(src = '/images/CSLewisLogo.png')
    #wrapper.books
        h1 Selected Works
        #content
            h2.category Biographical
            .books
                .booksLeft
                    <a  href="http://www.amazon.com/gp/product/0156870118/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0156870118&linkCode=as2&tag=score0aef-20&linkId=FFURTRCTUJVLVIPJ"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0156870118&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score0aef-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=score0aef-20&l=as2&o=1&a=0156870118" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

                .booksRight
                    h3 Surprised by Joy
                    p.
                        From the back cover - The intensely intimate and sincere autobiography of a man who
                        thought his way to God. An unfailingly honest and acutely perceptive
                        observer of humanity, C.S. Lewis recounts his search for joy, a spiritual
                        journey that led him from a traditional Christian childhood in Belfast to a
                        youthful atheism and, finally, back to a confident Christianity. Lewis candidly
                        and sensitively describes his early schooldays, his experiences in the trenches during
                        World War I, and his undergraduate life at Oxford--where he reasoned his way back to God.
                        It is perhaps the commonsensical aspect of his conversion to Christianity that makes
                        Lewis's story so compelling and meaningful, especially to contemporary readers who are
                        believers and nonbelievers alike.Since its first publication in 1955, Lewis's journey--
                        his "surprise"--continues to be deeply important to his admirers and to those concerned with
                        the compatibility of the rational and the spiritual.Description of this book



            hr
            .books
                .booksLeft
                    <a href="http://www.amazon.com/Jack-Life-C-S-Lewis/dp/1581347391/ref=as_li_ss_il?ie=UTF8&dpID=41McWHg2-3L&dpSrc=sims&preST=_AC_UL160_SR104%2C160_&refRID=169F2X2VFHDFX5MRMNGS&linkCode=li3&tag=score015-20&linkId=fba81496131e6f477260eb901d02d8fc" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1581347391&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score015-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=score015-20&l=li3&o=1&a=1581347391" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

                .booksRight
                    p.
                        Amazon - Offering glimpses into Lewis's extraordinary relationships and experiences, Jack details
                        the great scholar's life at the Kilns; days at Magdalen College; meetings with the Inklings; marriage
                        to Joy Davidman Gresham; and the creative process that produced such world-famous works as the classic
                        Chronicles of Narnia, Mere Christianity, and The Screwtape Letters.

                    p.
                        This book is an intimate account of the man who helped—and through his works, continues to help—generations
                        hear and understand the heart of Christianity.


            h2.category Fiction
            .books
                .booksLeft

                    <a href="http://www.amazon.com/Till-We-Have-Faces-Retold/dp/0156904365/ref=as_li_ss_il?s=books&ie=UTF8&qid=1458097071&sr=1-1&keywords=till+we+have+faces&linkCode=li3&tag=score0aef-20&linkId=0680f1b85ca2179aab1868a40e9a20e2" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0156904365&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score0aef-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=score0aef-20&l=li3&o=1&a=0156904365" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

                .booksRight
                    h3 Till We Have Faces
                    p.
                        Amazon - Haunted by the myth of Cupid and Psyche throughout his life, C.S. Lewis wrote this, his last, extraordinary
                        novel, to retell their story through the gaze of Psyche’s sister, Orual. Disfigured and embittered, Orual
                        loves her younger sister to a fault and suffers deeply when she is sent away to Cupid, the God of the Mountain.
                        Psyche is forbidden to look upon the god’s face, but is persuaded by her sister to do so; she is banished for
                        her betrayal. Orual is left alone to grow in power but never in love, to wonder at the silence of the gods.
                        Only at the end of her life, in visions of her lost beloved sister, will she hear an answer.

            hr

            .books
                .booksLeft
                    <a href="http://www.amazon.com/Silent-Planet-Space-Trilogy-Paperback/dp/0743234901/ref=as_li_ss_il?ie=UTF8&qid=1458143205&sr=8-1&keywords=c.s.+lewis+space+trilogy&linkCode=li2&tag=score0aef-20&linkId=d0667ea2549da9bccf261e0884c10dc3" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0743234901&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score0aef-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=score0aef-20&l=li2&o=1&a=0743234901" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                    <a href="http://www.amazon.com/Perelandra-Space-Trilogy-Book-2/dp/074323491X/ref=as_li_ss_il?ie=UTF8&qid=1458143205&sr=8-4&keywords=c.s.+lewis+space+trilogy&linkCode=li2&tag=score0aef-20&linkId=4142cbad6763d983c2ea098f5f196c23" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=074323491X&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score0aef-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=score0aef-20&l=li2&o=1&a=074323491X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                    <a href="http://www.amazon.com/That-Hideous-Strength-Space-Trilogy/dp/0743234928/ref=as_li_ss_il?ie=UTF8&qid=1458143205&sr=8-6&keywords=c.s.+lewis+space+trilogy&linkCode=li2&tag=score0aef-20&linkId=c845270a135e898264d9aacee1c7ee2f" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0743234928&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score0aef-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=score0aef-20&l=li2&o=1&a=0743234928" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

                .booksRight
                    h3 Space Trilogy
                    p.
                        Amazon - Out of the Silent Planet begins the Space Trilogy with the adventures of the remarkable
                        Dr. Ransom, who is abducted by aliens and taken by spaceship to another planet. In the second
                        book, Perelandra, Dr. Ransom must battle evil on a new world when it is invaded by the Devil's
                        agent. The final book, That Hideous Strength, concludes the adventures with Dr. Ransom in a
                        world of superior alien beings and scientific experiments run amok, as he struggles with questions
                        of ethics and morality in his quest for truth.
            hr


            .books
                .booksLeft
                    <a href="http://www.amazon.com/Screwtape-Letters-C-S-Lewis/dp/0060652934/ref=as_li_ss_il?ie=UTF8&qid=1458146894&sr=8-1&keywords=screwtape+letters&linkCode=li3&tag=score0aef-20&linkId=e0bcbb7c134232bceaac0de3036e79c6" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0060652934&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score0aef-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=score0aef-20&l=li3&o=1&a=0060652934" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

                .booksRight
                    h3 The Screwtape Letters
                    p.
                        In this highly imaginative satire of the human condition, Lewis uses a correspondence
                        between the demon Screwtape and his nephew to speak to the human failings and
                        temptations common to all. By the medium and unveiling truth of his observations
                        he manages the rare pairing of both humour and seriousness. Read for laughs
                        and reproof, enjoyment and instruction.

            hr

            .books
                .booksLeft
                    <a href="http://www.amazon.com/Great-Divorce-C-S-Lewis/dp/0060652950/ref=as_li_ss_il?ie=UTF8&qid=1458147135&sr=8-1&keywords=the+great+divorce&linkCode=li3&tag=score0aef-20&linkId=866183e0e614443058a69c951e65fcc0" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0060652950&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score0aef-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=score0aef-20&l=li3&o=1&a=0060652950" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

                .booksRight
                    h3 The Great Divorce
                    p.
                        Amazon - C.S. Lewis’ The Great Divorce is a classic Christian allegorical tale about a bus ride from
                        hell to heaven. An extraordinary meditation upon good and evil, grace and judgment, Lewis’s
                        revolutionary idea in the The Great Divorce is that the gates of Hell are locked from the inside.
                        Using his extraordinary descriptive powers, Lewis’ The Great Divorce will change the way we think
                        about good and evil.


            h2.category Nonfiction
            .books
                .booksLeft
                    <a href="http://www.amazon.com/gp/product/0060652926/ref=as_li_ss_il?ref_=cm_lmf_img_1&linkCode=li3&tag=score0aef-20&linkId=ae3883e8f0ed23b852b394809aa5143c" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0060652926&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score0aef-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=score0aef-20&l=li3&o=1&a=0060652926" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                .booksRight
                    h3 Mere Christianity
                    p.
                        Amazon - In the classic Mere Christianity, C.S. Lewis, the most important writer of the 20th century,
                        explores the common ground upon which all of those of Christian faith stand together. Bringing together
                        Lewis’ legendary broadcast talks during World War Two from his three previous books The Case for
                        Christianity, Christian Behavior, and Beyond Personality, Mere Christianity provides an unequaled
                        opportunity for believers and nonbelievers alike to hear this powerful apologetic for the Christian faith.
            hr

            .books
                .booksLeft
                    <a href="http://www.amazon.com/Four-Loves-C-S-Lewis/dp/0156329301/ref=as_li_ss_il?ie=UTF8&qid=1458147035&sr=8-1&keywords=four+loves&linkCode=li3&tag=score0aef-20&linkId=b97cb92514757465adac3a638021ec75" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0156329301&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score0aef-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=score0aef-20&l=li3&o=1&a=0156329301" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

                .booksRight
                    h3 The Four Loves
                    p.
                        Amazon - We hear often that love is patient and kind, not envious or prideful. We hear that human love is a
                        reflection of divine love. We hear that God is love. But how do we understand its work in our lives, its
                        perils and rewards? Here, the incomparable C. S. Lewis examines human love in four forms: affection, the most
                        basic, general, and emotive; friendship, the most rare, least jealous, and, in being freely chosen, perhaps
                        the most profound; Eros, passionate love that can run counter to happiness and poses real danger; charity,
                        the greatest, most spiritual, and least selfish. Proper love is a risk, but to bar oneself from it--to deny
                        love--is a damning choice. Love is a need and a gift; love brings joy and laughter. We must seek to be
                        awakened and so to find an Appreciative love through which "all things are possible."
            hr

            .books
                .booksLeft
                    <a href="http://www.amazon.com/Miracles-C-S-Lewis/dp/0060653019/ref=as_li_ss_il?ie=UTF8&qid=1458147077&sr=8-1&keywords=c.s.+lewis+miracles&linkCode=li3&tag=score0aef-20&linkId=106ff95b31dfb0aec67a3d8d5d13b1ec" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0060653019&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score0aef-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=score0aef-20&l=li3&o=1&a=0060653019" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

                .booksRight
                    h3 Miracles
                    p.
                        Amazon - In the classic Miracles, C.S. Lewis, the most important Christian writer of the 20th century, argues
                        that a Christian must not only accept but rejoice in miracles as a testimony of the unique personal involvement
                        of God in his creation.
            hr

            .books
                .booksLeft
                    <a href="http://www.amazon.com/The-Problem-Pain-C-Lewis/dp/0060652969/ref=as_li_ss_il?ie=UTF8&refRID=1F61AV283V0J13J0J42T&linkCode=li3&tag=score0aef-20&linkId=940b595f19d10583726f1f7d080eb971" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0060652969&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score0aef-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=score0aef-20&l=li3&o=1&a=0060652969" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                .booksRight
                    h3 The Problem of Pain
                    p.
                        Amazon - In The Problem of Pain, C.S. Lewis, one of the most renowned Christian authors and thinkers, examines a universally
                        applicable question within the human condition: “If God is good and all-powerful, why does he allow his creatures
                        to suffer pain?” With his signature wealth of compassion and insight, C.S. Lewis offers answers to these crucial
                        questions and shares his hope and wisdom to help heal a world hungering for a true understanding of human nature.
            hr

            .books
                .booksLeft
                    <a href="http://www.amazon.com/The-Abolition-Man-C-Lewis/dp/0060652942/ref=as_li_ss_il?ie=UTF8&refRID=1F61AV283V0J13J0J42T&linkCode=li3&tag=score0aef-20&linkId=76fb861a8109f516e60b9493c280dbdb" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0060652942&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score0aef-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=score0aef-20&l=li3&o=1&a=0060652942" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                .booksRight
                    h3 The Abolition of Man
                    p.
                        In this masterful defense of objective value Lewis questions the
                        'progressive' relativist philosophy of his time, especially as it
                        pertains to morality. Imagining a world where this pervasive philosophy
                        is carried unchecked to its logical conclusion, he presages the eventual
                        extinction of human conscience. In short, he concludes that we either accept
                        the existence of moral first principles or we accept the destruction
                        of our humanness - the abolition of man.

                    p.
                        Chosen by National Review as number seven
                        on their "100 Best Nonfiction Books of the Twentieth Century.
            hr

            .books
                .booksLeft
                    <a href="http://www.amazon.com/gp/product/0060652381/ref=as_li_ss_il?ref_=cm_lmf_img_4&linkCode=li3&tag=score0aef-20&linkId=2619969da03b10265c3295a741c436e6" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0060652381&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score0aef-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=score0aef-20&l=li3&o=1&a=0060652381" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                .booksRight
                    h3 A Grief Observed
                    p.
                        Amazon - Written after his wife's tragic death as a way of surviving the
                        "mad midnight moment," A Grief Observed is C.S. Lewis's honest reflection
                        on the fundamental issues of life, death, and faith in the midst of loss.
                        This work contains his concise, genuine reflections on that period:
                        "Nothing will shake a man -- or at any rate a man like me -- out of his merely
                        verbal thinking and his merely notional beliefs. He has to be knocked silly before
                        he comes to his senses. Only torture will bring out the truth. Only under torture
                        does he discover it himself." This is a beautiful and unflinchingly honest record
                        of how even a stalwart believer can lose all sense of meaning in the universe, and
                        how he can gradually regain his bearings.




            h2.category Essays

            .books
                .booksLeft
                    <a href="http://www.amazon.com/gp/product/0060653205/ref=as_li_ss_il?ref_=cm_lmf_img_6&linkCode=li3&tag=score0aef-20&linkId=6f15831d950b6b4bfd0d28418c370bcb" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0060653205&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score0aef-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=score0aef-20&l=li3&o=1&a=0060653205" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                .booksRight
                    h3 The Weight of Glory
                    p.
                        Amazon - The classic Weight of Glory by C.S. Lewis, the most important Christian writer of the
                        20th century, contains nine sermons delivered by Lewis during World War Two. The nine
                        addresses in Weight of Glory offer guidance, inspiration, and a compassionate apologetic
                        for the Christian faith during a time of great doubt.
            hr

            .books
                .booksLeft
                    <a href="http://www.amazon.com/God-Dock-C-S-Lewis/dp/0802871836/ref=as_li_ss_il?ie=UTF8&qid=1458147701&sr=8-7&keywords=c.s.+lewis+essays&linkCode=li3&tag=score0aef-20&linkId=5ab0fdde637d2d2fc55a67ec29bd7508" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0802871836&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=score0aef-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=score0aef-20&l=li3&o=1&a=0802871836" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                .booksRight
                    h3 God in the Dock
                    p.
                        Amazon - God in the Dock contains forty-eight essays and twelve letters written by Lewis between 1940
                        and 1963. Ranging from popular newspaper articles to learned defenses of the faith, these pieces cover
                        topics as varied as the logic of theism, good and evil, miracles, the role of women in the church, and
                        ethics and politics. Many represent Lewis's first ventures into themes he would later treat in full-length books.
            hr


        #rightAdBooks
            img(src = '/images/CSLewisReading.jpg')
            //img(src = '/images/CSLewisCigarrete.jpg')
            //img(src = '/images/CSLewisWithJoy.jpg')
            //img(src = '/images/CSLewisYoung.jpg')
            //img(src = '/images/CSLewisPipe.jpg')


        #preFooter
