//
   Created by matthewyun on 3/15/16.

extends layout
block content
    #header
        #headerBox
            a(href = '/' id = 'linkHome')
                img(src = '/images/CSLewisLogo.png')
    #wrapper
        #leftAd
            h3 Sponsored Links
        #pastQuotes
            h1 Past Quotes Test

        #rightAd
            h3 Sponsored Links
        #lowerAd
        #preFooter
